[delivery]
server        = "221.123.170.21"
root_path  = delivery
image_path = "/openx/www/images/"

[mysql]
host = localhost
port = 3306
user = root
pass =
db   = dap

[mysql2]
host = "127.0.0.1"
port = 3306
user = root
pass = 
db   = dap2

[var]
blockAd                         = OABLOCK
capAd                            = OACAP
sessionCapAd                = OASCAP
blockCampaign             = OACBLOCK
capCampaign                = OACCAP
sessionCapCampaign    = OASCCAP
blockZone                     = OAZBLOCK
capZone                        = OAZCAP
sessionCapZone            = OASZCAP
lastView                         = OXLIA

[maintenance]
OI = 20
Interval = 5
Deamon = 0

[mongodb]
host = "127.0.0.1"
port = 27017
